<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @*<div class="container">*@
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            @*<div class="navbar-collapse collapse">*@
                <div class="col-xs-1 text-center box"> <span class="box-header"> 1 </span> <img height="50" width="50" src="~/Content/img/message.png" /> <br /> Message</div>
                <div class="col-xs-1 text-center box"> <span class="box-header"> 2 </span> <img height="50" width="50" src="~/Content/img/pallets.png" /> <br /> Pallets</div>
                <div class="col-xs-1 text-center box"> <span class="box-header"> 3 </span> <img height="45" src="~/Content/img/planning.png" /> <br /> Planning</div>
                <div class="col-xs-1 text-center box"> <span class="box-header"> 4 </span> <img height="50" width="50" src="~/Content/img/location.png" /> <br /> Locatie</div>
                <div class="col-xs-1 text-center box"> <span class="box-header"> 5 </span> <img height="50" width="50" src="~/Content/img/HR.png" /> <br /> HR</div>
                <div class="col-xs-1 text-center box"> <span class="box-header"> 6 </span> <img height="50" width="50" src="~/Content/img/Chat.png" /> <br /> Chat</div>
                <div class="col-xs-1 box"> <span class="box-header"> 7 </span> </div>
                <div class="col-xs-1 box"> <span class="box-header"> 8 </span> </div>
                <div class="col-xs-1 box"> <span class="box-header"> 9 </span> </div>
                <div class="col-xs-3 text-center box"> <img height="50" width="50" src="~/Content/img/message.png" /> <br /> Log off</div>
            @*</div>*@
        @*</div>*@
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
